# Ignore folders.
/.storage/*
.cloud
.google.token
.jwt_secret
.vacuum
.timeline
glances
node-red
appdaemon
backup
deps
tts
themes
downloads/*
www/community
www/snapshots
www/fonts
zigbee2mqtt
custom_components
llmvision

# And some files
secrets.yaml
esphome/secrets.yaml
frigate.yml
rtsp-simple-server.yml
known_devices.yaml
google_calendars.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
daikin_data.json
daikin_puredata.json
icloud3*.log*
daikin_altherma_*
frigate*
.exports


# And ignore the ignore for some files
!/.storage/lovelace
!/themes/custom_dark
