#  _   _                         _            _     _              _
# | | | | ___  _ __ ___   ___   / \   ___ ___(_)___| |_ __ _ _ __ | |_
# | |_| |/ _ \| '_ ` _ \ / _ \ / _ \ / __/ __| / __| __/ _` | '_ \| __|
# |  _  | (_) | | | | | |  __// ___ \\__ \__ \ \__ \ || (_| | | | | |_
# |_| |_|\___/|_| |_| |_|\___/_/   \_\___/___/_|___/\__\__,_|_| |_|\__|
#
# Author: Rob Sonke
# https://github.com/robsonke/hass-config
#

homeassistant:
  packages: !include_dir_named packages
  name: Home
  country: NL
  language: en
  latitude: !secret latitude_coordinate
  longitude: !secret longitude_coordinate
  elevation: 0
  unit_system: metric
  time_zone: !secret time_zone
  external_url: !secret external_url
  internal_url: !secret internal_url
  allowlist_external_dirs:
    - '/config/'
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - !secret kitchen_shelly_ip
        - 192.168.0.223/32
        - fd4a:9fa0:9a73:665f:34:f808:f582:d99f/128
      trusted_users:
        192.168.0.215: 4e66c82d531047cfbece83e7ed882e8f
        192.168.0.223: fea3a3dc19f743db83b7942c001b2e58
        fd4a:9fa0:9a73:665f:34:f808:f582:d99f: fea3a3dc19f743db83b7942c001b2e58
      allow_bypass_login: true
    - type: homeassistant


assist_pipeline:
  debug_recording_dir: /config/downloads

system_log:
  fire_event: true
  max_entries: 100
ios:
ffmpeg:
default_config:
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.16.0.0/12
    - 172.30.0.0/16
    - ::1
    - 127.0.0.0/8
